:root {
  --primary: #1a3447;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  button,
  .button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    @apply bg-blue-600;
  }
}

* > * {
  font-family: "Poppins", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
button {
  /* background-color: var(--primary) !important; */
}
button:hover {
  background-color: inherit;
}
.primary {
  color: #1a3447;
}
